
<div class="container">
  <div class="text-center">
    <h1>Latest Instagram Posts</h1>
    <input type="text" id="hashtag" [(ngModel)]="hashtag1"/>
    <button (click)="returnImages()"> Click to insert hashtag</button>

  </div>

<div class="row">
  <div *ngFor="let item of res; let i = index;" class="col-md-4">
    <img src="{{item.images.low_resolution.url}}" class="img-responsive" />
</div>
  <div class="text-center">
  <h1 *ngIf="res.length === 0">Missing tag <b>{{missingHashTag}}</b></h1>
  </div>
</div>

</div>

